/*
 * -------------------------------------------------
 *  lehtiolab/nf-labelcheck Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */
import groovy.json.JsonSlurper

// Global default params, used in configs
params {

  // Workflow flags
  input = false
  outdir = './results'
  // Boilerplate options
  name = false
  help = false
  tracedir = "${params.outdir}/pipeline_info"
  external_config_version = 'master'
  psmconflvl = 0.01
  pepconflvl = 0.01
  name = false
  plaintext_email = false
  iput = false
  sampletable = false
  isobaric = false
  activation = 'auto' // Only for isobaric quantification, not for ID
  outdir = 'results'
  maxmissedcleavages = 2
  maxvarmods = 2
  prectol = '10.0ppm'
  minpeplen = 7
  maxpeplen = 50
  mincharge = 2
  maxcharge = 6
}

def jsonslurp = new JsonSlurper()
def containers = jsonslurp.parseText(new File("${baseDir}/containers.json").text)
params.__containers = containers

includeConfig 'conf/base.config'

profiles {
  docker { 
    docker.enabled = true
    docker.fixOwnership = true
  }
  singularity {
    singularity.enabled = true
  }
  test {
    includeConfig 'conf/test.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
  enabled = true
  file = "${params.tracedir}/lehtiolab/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/lehtiolab/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/lehtiolab/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/lehtiolab/execution_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'lehtiolab/nf-labelcheck'
  author = 'Jorrit Boekel'
  homePage = 'https://github.com/lehtiolab/nf-labelcheck'
  description = 'A proteomics pipeline for running labelchecks outputting a report'
  mainScript = 'main.nf'
  nextflowVersion = '>=25.04.1'
  version = '2.3'
}
