/*
 * -------------------------------------------------
 *  lehtiolab/nf-labelcheck Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  input = false
  outdir = './results'
  // Boilerplate options
  name = false
  help = false
  external_config_version = 'master'
  psmconflvl = 0.01
  pepconflvl = 0.01
  name = false
  plaintext_email = false
  iput = false
  sampletable = false
  isobaric = false
  activation = 'auto' // Only for isobaric quantification, not for ID
  outdir = 'results'
  maxmissedcleavages = 2
  maxvarmods = 2
  prectol = '10.0ppm'
  minpeplen = 7
  maxpeplen = 50
  mincharge = 2
  maxcharge = 6
 __containers = new groovy.json.JsonSlurper().parseText(new File("${baseDir}/containers.json").text)
}

includeConfig 'conf/base.config'

profiles {
  docker { 
    docker.enabled = true
    docker.fixOwnership = true
  }
  singularity {
    singularity.enabled = true
  }
  test {
    includeConfig 'conf/test.config'
  }
}


timeline {
  enabled = true
}
report {
  enabled = true
}
trace {
  enabled = true
}
dag {
  enabled = true
}

manifest {
  name = 'lehtiolab/nf-labelcheck'
  author = 'Jorrit Boekel'
  homePage = 'https://github.com/lehtiolab/nf-labelcheck'
  description = 'A proteomics pipeline for running labelchecks outputting a report'
  mainScript = 'main.nf'
  nextflowVersion = '>=25.04.1'
  version = '2.3'
}
