/*
 * -------------------------------------------------
 *  lehtiolab/nf-labelcheck Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

singularity.enabled = false
docker.enabled = false

process {
  errorStrategy = { task.exitStatus in [137,140] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
  cpus = 1
  memory = 2.GB

  withName: sage {
    cpus = 2
    memory = { (db.size() >> 30) < 1 ? 16.GB : "${db.size() * 16}B"  }
  }
}
